flows.json
[{"id":"e9713cc4.15bcc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a5974fec.b8a9f","type":"debug","z":"e9713cc4.15bcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":160,"wires":[]},{"id":"3196fe15.276582","type":"function","z":"e9713cc4.15bcc","name":"parsing","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n   for(var i in msg.payload.context.webhook_result_1.results){\nmsg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["8f341609.f85c58","a5974fec.b8a9f"]]},{"id":"667e61a7.56c98","type":"function","z":"e9713cc4.15bcc","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["6534297.2e494d8","ed0d94f3.d7d4c8"]]},{"id":"72f4f7bc.ee6d38","type":"ui_form","z":"e9713cc4.15bcc","name":"","label":"","group":"88b07c1e.56cb2","order":1,"width":"0","height":"0","options":[{"label":"Enter the query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":400,"wires":[["667e61a7.56c98"]]},{"id":"8f341609.f85c58","type":"ui_text","z":"e9713cc4.15bcc","group":"62bd488b.c7f688","order":1,"width":"15","height":"11","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":810,"y":400,"wires":[]},{"id":"6534297.2e494d8","type":"watson-conversation-v1","z":"e9713cc4.15bcc","name":"","workspaceid":"1e0716bd-7d5a-4591-a542-f816fd6f6cbf","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["3196fe15.276582"]]},{"id":"ed0d94f3.d7d4c8","type":"ui_text","z":"e9713cc4.15bcc","group":"88b07c1e.56cb2","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":400,"wires":[]},{"id":"88b07c1e.56cb2","type":"ui_group","z":"","name":"Input","tab":"4dbf640.3faa09c","order":1,"disp":true,"width":"6","collapse":false},{"id":"62bd488b.c7f688","type":"ui_group","z":"","name":"Output","tab":"4dbf640.3faa09c","order":2,"disp":true,"width":"20","collapse":false},{"id":"4dbf640.3faa09c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]